<div class="container">
  <p> &nbsp; </p>
</div>
<%= params %>

<%= render partial: "shared/guideline_index", locals: {
  title: @data[:title],
  description: @data[:description],
  svg_filename: @data[:svg_filename],
  children: @data.values
} %>
