<div class="container">
  <p> &nbsp; </p>
</div>

<%= render partial: "shared/guideline_index", locals: {
  title: @guidelines.title,
  description: @guidelines.description,
  svg_filename: @guidelines.svg_filename,
  children: @guidelines.categories
} %>
