<div class="container">
  <p> breadcrumbs / breadcrumbs </p>
</div>
<%= params %>

<%= render partial: "shared/guideline_category", locals: {
  slug: @category.slug,
  title: @category.title,
  description: @category.description,
  svg_filename: @category.svg_filename,
  articles: @category.articles,
} %>
