<div class="text-center container py-5">
    <p class="section-title font-weight-bold">Terms and Conditions</p>
</div>

<div class="col-md-12">
<div class="pb-5">

<%= render partial: "markdown_converted_terms" %>

</div>
</div>
