<!DOCTYPE html>
<html>

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>

<body>
  <p>Dear <%= @volunteer.name %>,</p>
  <br />
  <p>Thank you for volunteering!</p>
  <br />
  <p>Kind regards,</p>
  <br />
  <p>The Pandemic Volunteers Team</p>
</body>

</html>