<p>Dear <%= @volunteer.name %>,</p>

<p>This is to confirm your registration with Pandemic Volunteers. Thank you for volunteering! We'll be in touch soon to connect you with a service that could use your help.</p>

<p>Kind regards,</p>

<p>The Pandemic Volunteers Team</p>