/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html {
  scroll-behavior: smooth;
}

html,
body {
  /*height: 100%;*/
}

body {
  display: -ms-flexbox;
  display: flex;
}

.cover-container {
  max-width: 48rem;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
}

.cover-heading {
  font-weight: 900;
  font-size: 42pt;
}

.lives {
  border-bottom: 5px solid rgb(220, 53, 69); box-shadow: rgb(220, 53, 69) 0px -22px 0px inset;
}

.cover-lead {
  font-size: 18pt;
}
