/*
 * Base structure
 */
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
    scroll-behavior: smooth;
}

.cover-container {
  max-width: 48rem;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2em;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.link-no-underline, .link-no-underline:hover {
  text-decoration: none;
}

.link-black, .link-black:hover {
  color: var(--dark);
}

.red-link {
  color: var(--danger);
}

.red-link:hover {
  color: #a71d2a; 
}

.red-link.active{
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: var(--dark) !important; 
}


/*
 * Cover
 */
.cover {
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.cover-heading {
  font-size: 42pt;
}

.section-title {
  font-size: 36pt;
}

.cover-lead {
  font-size: 20pt;
}

.font-weight-900 {
  font-weight: 900;
}

.lives {
  border-bottom: 5px solid rgb(220, 53, 69); box-shadow: rgb(220, 53, 69) 0px -22px 0px inset;
}
