<p class="small text-muted text-center mt-2">
  <%= t("common.consent") %>
  <%= link_to t("common.privacy"), privacy_path, class: 'text-dark' %>
  <%= t("common.and") %>
  <%= link_to t("common.terms"), terms_path, class: 'text-dark' %>
</p>